.logo{
    
    top:0px;
}

header{
    
    width:100%;
    height:50px;
    line-height:50px;
    background-color:black;
}

header li{
    float:left;
    list-style:none;
    padding-left: 20px;
    padding-right: 40px;
    color:white;
    
    
}

.left{
    clear:left;
    width:100%;
}

.left h1{
margin-top:20px;
border-left:5px solid black;
border-bottom:2px solid black;
padding-left:10px;  
}

.left{
float:left;
width:900px;
margin-bottom:30px;
}

.box{
width:100%;
height:450px;
background-color:gray;
}

.box1{
    clear:left;
    padding-top:10px;
   
    
    
}

.box1 ul{
list-style-type:none;
	}
	
.box1 li{
    float:left;
    padding-left: 8px;
}


	
.box1 .text{
    font-size:15px;
    text-align:center;
}

.right{
    float:left;
    margin-left:30px;
    margin-top:10px;
    width:300px;
}


.right h2{
    border-bottom: 1px dashed gray;
}

.right p{
    padding-bottom: 2px;
}

footer{
    clear: left;
    width:100%;
    height:50px;
    line-height:50px;
    background-color:black;
    color:white;
    text-align: center;
    
}